.order {
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s;
	@include to(576px) {
		padding: 0;
	}
	&--opened {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		transition: all 0.3s;
	}
	&__form {
		display: flex;
		flex-flow: column nowrap;
		overflow-y: auto;
		padding: 30px 0;
		margin: auto;
		height: auto;
		max-height: calc(100% - 60px);
		width: 100%;
		max-width: 400px;
		z-index: 1;
		background: #edb810;
		border-radius: 5px;
		transform: translateY(-100%);
		transition: transform 0.3s;
		@include to(1300px) {
			min-height: unset;
		}
		.order--opened & {
			transform: translateY(0%);
			transition: transform 0.3s;
		}
		.order--successed & {
			display: none;
		}
		@include to(576px) {
			border-radius: 0;
			max-height: calc(100% - 40px);
			max-width: calc(100% - 20px);
			width: 100%;
		}
		&[data-type="intercity"],
		&[data-type="railway"] {
			.order__tab {
				&:nth-child(1) {
					.order__select-departure {
						order: 2;
						display: flex;
						animation: fadeInUp 0.3s;
					}
				}
			}
		}
	}
	&__tabs {
		height: 100%;
	}
	&__tab {
		height: 100%;
		flex-flow: column nowrap;
		&--hide {
			display: none;
		}
		&--show {
			display: flex;
			animation: fadeInRight 0.3s;
		}
	}
	&__header,
	&__fields,
	&__footer {
		display: flex;
		flex-flow: column nowrap;
	}
	&__footer {
		margin-top: auto;
	}
	&__title {
		font-weight: 900;
		font-size: 30px;
		line-height: 120.7%;
		color: #ffffff;
		margin: 0 30px 35px 30px;
		padding-bottom: 5px;
		border-bottom: 2px dashed #ffffff;
		@include to(576px) {
			margin: 0 15px 25px 15px;
		}
	}
	&__types {
		margin-bottom: 25px;
		display: flex;
		flex-flow: column nowrap;
		.order__label {
			margin: 0 30px 15px 30px;
			@include to(576px) {
				margin: 0 15px 15px 15px;
			}
		}
		&-inputs {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			padding: 15px 30px;
			background-color: #393939;
			@include to(576px) {
				padding: 15px;
			}
		}
		&-radio {
			cursor: pointer;
			flex: 0 1 auto;
			position: relative;
			font-weight: bold;
			font-size: 10px;
			line-height: 115.2%;
			color: #ffffff;
			&:hover {
				color: #edb810;
				transition: color 0.3s;
			}
		}
		&-input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			visibility: hidden;
			&:checked {
				~ .order__types-checkmark {
					color: #edb810;
					transition: color 0.3s;
					&::before {
						width: calc(100% - 18px);
						transition: width 0.3s;
					}
				}
			}
		}
		&-checkmark {
			width: 100%;
			height: 100%;
			transition: color 0.3s;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 50%;
				transform: translateX(-50%);
				border-bottom: 2px dashed #edb810;
				width: 0;
				transition: width 0.3s;
			}
		}
	}
	&__select {
		display: flex;
		flex-flow: column nowrap;
		margin: 15px 30px;
		@include to(576px) {
			margin: 0 15px 10px 15px;
		}
		&-departure {
			display: none;
		}
		.select2 {
			.select2-selection__rendered {
				padding: 15px 0 15px 15px;
				margin-right: 35px;
				height: 100%;
				display: flex;
				align-items: center;
				font-weight: 500;
				font-size: 16px;
				line-height: 115.2%;
				color: #393939;
			}
			.select2-selection {
				min-height: 46px;
				height: auto;
				border: none;
				background-color: #ffffff;
				border-radius: 5px;
			}
			.select2-selection__arrow {
				right: 12px;
				top: 50%;
				transform: translateY(-50%);
				height: 15px;
				width: 15px;
				background: url($imgPath + "icons/arr-down.svg") center center / cover no-repeat;
				transition: transform 0.3s;
				b {
					display: none;
				}
			}

			&.select2-container--open {
				.select2-selection__arrow {
					transform: translateY(-50%) rotate(180deg);
					transition: transform 0.3s;
				}
			}
		}
	}
	&__label {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 14px;
		line-height: 115.2%;
		color: #ffffff;
	}
	&__sublabel {
		margin-bottom: 10px;
		font-weight: normal;
		font-size: 12px;
		line-height: 115.2%;
		color: #ffffff;
	}
	&__price {
		display: none;
		margin: 15px 30px 15px 30px;
		font-weight: normal;
		font-size: 14px;
		line-height: 115.2%;
		color: #393939;
		@include to(576px) {
			margin: 15px;
		}
		&--showed {
			display: block;
			animation: fadeInUp 0.3s;
		}
		span {
			font-weight: 700;
		}
	}
	&__input {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		margin: 15px 30px;
		@include to(576px) {
			margin: 15px;
		}
		input {
			height: 100%;
			width: 100%;
			border: none;
			border-radius: 5px;
			background-color: #fff;
			padding: 15px;
			font-weight: 500;
			font-size: 16px;
			line-height: 115.2%;
			color: #393939;
			&::placeholder {
				color: #a0a0a0;
			}
		}
		&-date,
		&-time {
			input {
				padding-right: 40px;
			}
			&::after {
				content: "";
				position: absolute;
				right: 12px;
				bottom: 15px;
				height: 15px;
				width: 15px;
				background: url($imgPath + "icons/arr-down.svg") center center / cover no-repeat;
				transition: transform 0.3s;
			}
		}
		&-counter {
			height: 100%;
			width: 100%;
			position: relative;
			input {
				padding-right: 40px;
			}
			button {
				display: flex;
				width: 15px;
				height: 15px;
				position: absolute;
				right: 12px;
			}
		}
		&-plus {
			top: 8px;
			background: url($imgPath + "icons/arr-up.svg") center center / cover no-repeat;
		}
		&-minus {
			bottom: 8px;
			background: url($imgPath + "icons/arr-down.svg") center center / cover no-repeat;
		}
		&-flight {
			display: none;
			&--showed {
				display: block;
				animation: fadeInUp 0.3s;
			}
		}
		&-amount {
			.order__label {
				margin-bottom: 3px;
			}
		}
		&--opened {
			&::after {
				transform: rotate(180deg);
				transition: transform 0.3s;
			}
		}
	}
	&__back {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		margin: 15px 30px;
		font-weight: bold;
		font-size: 14px;
		line-height: 115.2%;
		color: #393939;
		@include to(576px) {
			margin: 15px;
		}
		input {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			visibility: hidden;
			&:checked ~ {
				.order__back-checkmark {
					background-color: #393939;
					border-color: #fff;
					transition: border 0.3s, background-color 0.3s;
				}
			}
		}
		&-checkmark {
			margin-left: 25px;
			display: block;
			width: 25px;
			height: 25px;
			border: 2px solid #393939;
			background-color: transparent;
			transition: border 0.3s, background-color 0.3s;
		}
		&-subblock {
			display: none;
			flex-flow: column nowrap;
			&--showed {
				display: flex;
				animation: fadeInUp 0.3s;
			}
		}
	}
	&__textarea {
		display: flex;
		flex-flow: column nowrap;
		margin: 15px 30px;
		@include to(576px) {
			margin: 15px;
		}
		textarea {
			resize: none;
			min-height: 100px;
			width: 100%;
			border: none;
			border-radius: 5px;
			background-color: #fff;
			padding: 15px;
			font-weight: 500;
			font-size: 16px;
			line-height: 115.2%;
			color: #393939;
			&::placeholder {
				color: #a0a0a0;
			}
		}
	}
	&__steps {
		margin: auto 30px 15px 30px;
		font-weight: bold;
		font-size: 12px;
		line-height: 115.2%;
		color: #ffffff;
		@include to(576px) {
			margin: auto 15px 15px 15px;
		}
	}
	&__btn {
		@include btn;
		margin: 15px auto 0 auto;
		max-width: calc(100% - 60px);
		&-back {
			background-color: transparent;
			border: 2px solid #181818;
			.order__btn-text {
				color: #181818;
			}
			.order__btn-arr {
				background-color: #fff;
			}
		}
		@include to(576px) {
			max-width: 320px;
		}
		@include to(400px) {
			max-width: calc(100% - 30px);
		}
	}
	&__success {
		display: none;
		position: relative;
		flex-flow: column nowrap;
		padding: 30px 0;
		margin: auto;
		height: auto;
		width: 100%;
		max-width: 400px;
		z-index: 1;
		background: #edb810;
		border-radius: 5px;
		.order--successed & {
			display: block;
			animation: fadeInUp 0.3s;
		}
		@include to(576px) {
			max-width: 350px;
		}
		&::before {
			content: "";
			width: 174px;
			height: 279px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: url($imgPath + "success/stars-1.svg") center center / contain no-repeat;
			z-index: -1;
		}
		&::after {
			content: "";
			width: 200px;
			height: 343px;
			position: absolute;
			bottom: 0;
			right: 0;
			background: url($imgPath + "success/stars-2.svg") center center / contain no-repeat;
			z-index: -1;
		}
		.order__title {
			text-align: center;
		}
		&-img {
			margin-top: 20px;
			position: relative;
			z-index: 1;
			&-back {
				position: absolute;
				top: 0;
				right: 0;
				z-index: -1;
			}
			&-front {
				margin: 0 auto;
			}
			img {
				display: block;
			}
		}
	}
	&__subtitle {
		margin: 0 auto;
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		line-height: 115.2%;
		text-align: center;
		color: #ffffff;
		width: 100%;
		max-width: 300px;
	}
	&__error {
		.order__label,
		.order__sublabel {
			color: red;
		}
	}
	&__overlay {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(49, 57, 60, 0.65);
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s;
		.order--opened & {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transition: all 0.3s;
		}
	}
}

.select2-dropdown {
	border: none;
	background-color: #fefefe;
	box-shadow: 0px 30px 30px rgba(67, 51, 0, 0.5);
	border-radius: 5px;
	.select2-results__option {
		font-weight: 400;
		font-size: 14px;
		line-height: 115.2%;
		color: #393939;
	}
	.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
		background-color: #faed00;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
