.order {
	padding-top: 50px;
	border-top: 2px solid #ffffff;
	&__form {
		@include wrap;
		display: flex;
		flex-flow: column nowrap;
		.order--successed & {
			display: none;
		}
		&[data-type="intercity"],
		&[data-type="railway"] {
			.order__tab {
				&:nth-child(1) {
					.order__select-departure {
						order: 2;
						display: flex;
						animation: fadeInUp 0.3s;
					}
				}
			}
		}
	}
	&__tabs {
		height: 100%;
	}
	&__tab {
		height: 100%;
		flex-flow: column nowrap;
		&--hide {
			display: none;
		}
		&--show {
			display: flex;
			animation: fadeInRight 0.3s;
		}
	}
	&__header {
		margin: 0 auto;
	}
	&__fields {
		width: 100%;
		max-width: 960px;
		margin: 40px auto 0 auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px 30px;
		@include to(992px) {
			gap: 20px;
		}
		@include to(768px) {
			grid-template-columns: 1fr 1fr;
			gap: 15px;
		}
		@include to(576px) {
			grid-template-columns: 1fr;
		}
	}
	&__footer {
		display: flex;
		flex-flow: column nowrap;
		margin: 40px auto 0 auto;
		@include to(992px) {
			margin-top: 20px;
		}
		@include to(576px) {
			width: 100%;
		}
	}
	&__title {
		font-weight: 900;
		font-size: 30px;
		line-height: 120.7%;
		color: #ffffff;
		padding-bottom: 5px;
		border-bottom: 2px dashed #ffffff;
	}
	&__select {
		display: flex;
		flex-flow: column nowrap;
		&-departure {
			display: none;
		}
		.select2 {
			width: auto !important;
			.select2-selection__rendered {
				padding: 15px 0 15px 15px;
				height: 100%;
				display: flex;
				align-items: center;
				font-weight: 500;
				font-size: 16px;
				line-height: 115.2%;
				color: #393939;
				@include to(992px) {
					font-size: 14px;
				}
			}
			.select2-selection {
				min-height: 46px;
				height: auto;
				border: none;
				background-color: #ffffff;
				border-radius: 5px;
			}
			.select2-selection__arrow {
				border-radius: inherit;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				height: calc(100% - 2px);
				width: 45px;
				background-color: #fff;
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: url($imgPath + "icons/arr-down.svg") center center / 15px 15px no-repeat;
					width: 15px;
					height: 15px;
					transition: transform 0.3s;
				}
				b {
					display: none;
				}
			}

			&.select2-container--open {
				.select2-selection__arrow {
					&::after {
						transform: translate(-50%, -50%) rotate(180deg);
						transition: transform 0.3s;
					}
				}
			}
		}
	}
	&__label {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 14px;
		line-height: 115.2%;
		color: #ffffff;
	}
	&__sublabel {
		margin-bottom: 10px;
		font-weight: normal;
		font-size: 12px;
		line-height: 115.2%;
		color: #ffffff;
	}
	&__price {
		text-align: center;
		margin-bottom: 30px;
		display: none;
		font-weight: normal;
		font-size: 14px;
		line-height: 115.2%;
		color: #393939;
		@include to(992px) {
			margin-bottom: 15px;
		}
		&--showed {
			display: block;
			animation: fadeInUp 0.3s;
		}
		span {
			font-weight: 700;
		}
	}
	&__input {
		margin-top: auto;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		input {
			height: 100%;
			width: 100%;
			border: none;
			border-radius: 5px;
			background-color: #fff;
			padding: 15px;
			font-weight: 500;
			font-size: 16px;
			line-height: 115.2%;
			color: #393939;
			&::placeholder {
				color: #a0a0a0;
			}
		}
		&-date,
		&-time {
			input {
				padding-right: 40px;
			}
			&::after {
				content: "";
				position: absolute;
				right: 12px;
				bottom: 15px;
				height: 15px;
				width: 15px;
				background: url($imgPath + "icons/arr-down.svg") center center / cover no-repeat;
				transition: transform 0.3s;
			}
		}
		&-counter {
			height: 100%;
			width: 100%;
			position: relative;
			input {
				padding-right: 40px;
			}
			button {
				display: flex;
				width: 15px;
				height: 15px;
				position: absolute;
				right: 12px;
			}
		}
		&-plus {
			top: 8px;
			background: url($imgPath + "icons/arr-up.svg") center center / cover no-repeat;
		}
		&-minus {
			bottom: 8px;
			background: url($imgPath + "icons/arr-down.svg") center center / cover no-repeat;
		}
		&-flight {
			display: none;
			&--showed {
				display: flex;
				animation: fadeInUp 0.3s;
			}
		}
		&-amount {
			.order__label {
				margin-bottom: 3px;
			}
		}
		&--opened {
			&::after {
				transform: rotate(180deg);
				transition: transform 0.3s;
			}
		}
	}
	&__back {
		grid-column: span 3;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		font-weight: bold;
		font-size: 14px;
		line-height: 115.2%;
		color: #393939;
		@include to(768px) {
			grid-column: initial;
		}
		input {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			visibility: hidden;
			&:checked ~ {
				.order__back-checkmark {
					background-color: #393939;
					border-color: #fff;
					transition: border 0.3s, background-color 0.3s;
				}
			}
		}
		&-checkmark {
			margin-left: 25px;
			display: block;
			width: 25px;
			height: 25px;
			border: 2px solid #393939;
			background-color: transparent;
			transition: border 0.3s, background-color 0.3s;
		}
		&-subblock {
			display: none;
			grid-template-columns: repeat(3, 1fr);
			gap: 24px 30px;
			grid-column: span 3;
			grid-row: 3 / 4;
			@include to(768px) {
				grid-template-columns: repeat(2, 1fr);
				grid-row: initial;
				grid-column: span 2;
			}
			@include to(576px) {
				grid-column: initial;
				grid-template-columns: 1fr;
			}
			.order__input {
				margin: 0 0 auto 0;
			}
			&--showed {
				display: grid;
				animation: fadeInUp 0.3s;
			}
		}
	}
	&__textarea {
		display: flex;
		flex-flow: column nowrap;
		textarea {
			resize: none;
			min-height: 100px;
			width: 100%;
			border: none;
			border-radius: 5px;
			background-color: #fff;
			padding: 15px;
			font-weight: 500;
			font-size: 16px;
			line-height: 115.2%;
			color: #393939;
			&::placeholder {
				color: #a0a0a0;
			}
		}
	}
	&__steps {
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		line-height: 115.2%;
		color: #ffffff;
	}
	&__btns {
		display: flex;
		flex-flow: row nowrap;
		margin: 15px auto 0 auto;
		@include to(768px) {
			flex-flow: column nowrap;
		}
		@include to(576px) {
			width: 100%;
		}
	}
	&__btn {
		@include btn;
		margin: 0 15px;
		@include to(768px) {
			margin: 0 auto;
		}
		&:not(:last-child) {
			@include to(768px) {
				margin-bottom: 15px;
			}
		}
		&-back {
			background-color: transparent;
			border: 2px solid #181818;
			.order__btn-text {
				color: #181818;
			}
			.order__btn-arr {
				background-color: #fff;
			}
		}
	}
	&__subtitle {
		margin: 0 auto;
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		line-height: 115.2%;
		text-align: center;
		color: #ffffff;
		width: 100%;
		max-width: 300px;
	}
	&__error {
		.order__label,
		.order__sublabel {
			color: red;
		}
	}
}

.select2-dropdown {
	border: none;
	background-color: #fefefe;
	box-shadow: 0px 30px 30px rgba(67, 51, 0, 0.5);
	border-radius: 5px;
	.select2-results__option {
		font-weight: 400;
		font-size: 14px;
		line-height: 115.2%;
		color: #393939;
		@include to(992px) {
			font-size: 12px;
		}
	}
	.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
		background-color: #faed00;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
