.types {
	overflow: hidden;
	padding-top: 100px;
	background-color: $yel;
	position: relative;
	z-index: 0;
	@include to(1440px) {
		padding-top: 80px;
	}
	@include to(992px) {
		padding-top: 60px;
	}
	&::after {
		content: "";
		width: 1500px;
		height: 1500px;
		position: absolute;
		bottom: -600px;
		right: -400px;
		background: url($imgPath + "type/star-2.svg") center center / cover no-repeat;
		z-index: -1;
		@include to(1440px) {
			display: none;
		}
	}
	&__wrap {
		@include wrap;
		padding: 0 20px;
		display: flex;
		flex-flow: column nowrap;
	}
	&__title {
		font-weight: 900;
		font-size: 40px;
		line-height: 120.7%;
		color: #ffffff;
		text-align: center;
		@include to(992px) {
			font-size: 30px;
		}
	}
	&__subtitle {
		text-align: center;
		margin-top: 15px;
		font-weight: 500;
		font-size: 14px;
		line-height: 120.7%;
		color: #ffffff;
		@include to(992px) {
			margin-top: 10px;
		}
	}
	&__slider {
		&-wrap {
			position: relative;
			margin-top: 50px;
			@include to(992px) {
				margin-top: 40px;
			}
			&::before {
				content: "";
				width: 350px;
				height: 350px;
				position: absolute;
				bottom: -70px;
				left: -170px;
				background: url($imgPath + "type/star-1.svg") center center / cover no-repeat;
				z-index: -1;
				@include to(1440px) {
					bottom: -10px;
				}
			}
		}
		&-controls {
			margin-top: 35px;
			display: none;
			width: 100%;
			justify-content: center;
			align-items: center;
			@include to(1440px) {
				display: flex;
			}
		}
		&-pagination {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			margin: 0 40px;
			width: auto !important;
			position: relative;
			bottom: unset !important;
			left: unset !important;
			span {
				opacity: 1;
				background: transparent;
				width: auto;
				height: auto;
				font-weight: 900;
				font-size: 16px;
				line-height: 120.7%;
				color: #fff;
				transition: color 0.3s;
				&.swiper-pagination-bullet-active {
					color: #393939;
					transition: color 0.3s;
				}
			}
		}
		@include sliderBtns;
		&-prev,
		&-next {
			margin: 0;
			path {
				fill: #ffd243;
			}
			&:hover {
				path {
					fill: #ffffff;
				}
			}
			&.swiper-button-disabled {
				path {
					fill: #ffd243;
				}
				&:hover {
					path {
						fill: #ffd243;
					}
				}
			}
		}
	}
	&__item {
		overflow: hidden;
		min-height: 300px;
		padding: 25px;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		background-color: #ffffff;
		border-radius: 5px;
		z-index: 1;
		transition: all 0.3s;
		&:hover {
			border: 3px solid #181818;
			transition: all 0.3s;
		}
		&::after {
			content: "";
			width: 230px;
			height: 192px;
			position: absolute;
			top: 0;
			right: 0;
			background: url($imgPath + "type/type-card-star2.svg") center center / cover no-repeat;
			z-index: -1;
		}
		&-title {
			font-weight: bold;
			font-size: 18px;
			line-height: 120.7%;
			color: #272727;
		}
		&-subtitle {
			width: 100%;
			max-width: 100px;
			margin-top: 10px;
			font-weight: normal;
			font-size: 12px;
			line-height: 11px;
			color: #393939;
		}
		&-text {
			width: 100%;
			max-width: 200px;
			margin-top: 10px;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: #393939;
		}
		&-img {
			position: absolute;
			display: block;
			bottom: 10px;
			right: 0;
		}
	}
	&__btn {
		margin: 40px auto 0 auto;
		@include btn;
	}
}
