.text {
	background-color: #fff;
	padding: 80px 0;
	@include to(992px) {
		padding: 60px 0;
	}
	&__wrap {
		width: 100%;
		max-width: 1180px;
		padding: 0 20px;
		margin: 0 auto;
		display: flex;
		flex-flow: column nowrap;
	}
	&__title {
		font-weight: 900;
		font-size: 40px;
		line-height: 46px;
		text-align: center;
		width: 100%;
		max-width: 640px;
		margin: 0 auto 20px auto;
		color: #272727;
		@include to(992px) {
			font-size: 30px;
			line-height: 35px;
			max-width: 480px;
			margin-bottom: 10px;
		}
	}
	ol,
	ul {
		list-style-type: none;
		margin-top: 30px;
		font-weight: normal;
		font-size: 12px;
		line-height: 115%;
		color: #272727;
		@include to(576px) {
			font-size: 10px;
		}
	}
	li {
		padding-left: 35px;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 15px;
			@include to(576px) {
				margin-bottom: 10px;
			}
		}
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 15px;
			color: #393939;
		}
	}
	ol {
		counter-reset: text-counter;
		li {
			&::before {
				font-weight: 900;
				counter-increment: text-counter;
				content: counter(text-counter);
			}
		}
	}
	ul {
		li {
			&::before {
				content: "-";
			}
		}
	}
}
